.hatena-module-category ul li a {
  padding: 5px;
  text-decoration: none;
  color: #000;
  border: none;
  transition: 1s ease;
}

.hatena-module-category ul li.on-boerder {
  border-bottom:1px solid #dddddd;
}
