.hatena-module-category ul li {
  display: block;
  padding: 8px 0;
  border: 0;
}
.hatena-module-category ul li a {
  padding: 0px;
  text-decoration: none;
  color: #000;
  border: none;
  transition: 1s ease;
}
.hatena-module-category ul li.on-border {
  border-top:1px solid #dddddd;
}

ul.hatena-breadcrumb-plus-child1 {
  padding-left:30px;
}

ul.hatena-breadcrumb-plus-child2 {
  padding-left:15px;
  list-style-type:square;
}

.hatena-breadcrumb-plus-toggle-button {
  cursor:pointer;
}
